.cartitem{
    width: 70vw;
    margin-left: 15%;
    min-height: 250px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid whitesmoke;
    padding: 0.5rem;
}

.cartitem img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}