.header{
    position: sticky;
    top: 0;
    left: 0;
    min-height: 10vh;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: white;
}

input{
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    outline: none;
}

button{
    padding: 0.52rem 3rem;
    background: none;
    margin-left:10px ;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    border: 1px solid gray;
}

.cart{
    position: absolute;
    height: 50px;
    width: 50px;
    right: 2%;
    color: orange;
    border-radius: 50%;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    
}
.bagicon{
    position:absolute;
    height: 40px;
    left: 50%;
    transform: translate(-50%);
    pointer-events: none;
    font-size: 2rem;
}

.quantity{
    position: absolute;
    bottom: -10px;
    height: 20px;
    width: 20px;
    left: 60%;
    bottom: 2%;
    color: white;
    border-radius: 50%;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    pointer-events: none;
}
.header button {
    transition: 0.2s ease;
}
.header button:hover{
    background: black;
    color: white;
    font-weight: bolder;
}
@media (max-width:600px) {
    .search{
        position: absolute;
        left: 2%;
    }
}